1. Data Processing
2. EDA
3. Modeling (Attempts) - avoid overfitting
4. Evaluation 
5. Conclusions (Variable importance)

In [1]:
import pandas as pd
import numpy as np
import logging
from sklearn.preprocessing import OneHotEncoder
from datetime import datetime
from sklearn.preprocessing import StandardScaler , MinMaxScaler
from sklearn.neural_network import MLPRegressor
from sklearn.model_selection import GridSearchCV

In [2]:
logging.basicConfig(level=logging.INFO)
logger = logging.getLogger()

In [3]:
train_df = pd.read_csv('./train.dsv',sep='|')
train_df.head()

,category,make_id,model_id,price__consumer_gross_euro,mileage,first_registration,condition,modification_time,features_central_locking,features_full_service_history,features_hu_au_neu,features_nonsmoker_vehicle,features_adaptive_cruise_ctl,features_abs
2,EstateCar,1900,9.0,16990.000000,94672.0,200602.0,USED,2011-04-06 00:39:09,True,False,False,False,False,True
3,EstateCar,1900,9.0,9749.990234,176675.0,200606.0,USED,2011-04-06 00:38:39,True,True,False,False,False,True
4,Limousine,1900,8.0,9960.299805,109230.0,200608.0,USED,2011-06-03 19:16:35,True,False,True,False,False,True
5,Limousine,1900,8.0,21899.570312,22275.0,201002.0,USED,2011-06-03 19:16:40,True,False,True,False,False,True
6,EstateCar,1900,9.0,7700.000000,244000.0,200408.0,USED,2011-06-03 19:22:40,True,True,False,False,False,True

## EDA

In [4]:
train_df.shape

(12876, 14)

In [5]:
train_df.dtypes

category                          object
make_id                            int64
model_id                         float64
price__consumer_gross_euro       float64
mileage                          float64
first_registration               float64
condition                         object
modification_time                 object
features_central_locking            bool
features_full_service_history       bool
features_hu_au_neu                  bool
features_nonsmoker_vehicle          bool
features_adaptive_cruise_ctl        bool
features_abs                        bool
dtype: object

In [6]:
for col in ['category','make_id','model_id','condition']:
    logger.info(f"col {col} has unique values : '{train_df[col].unique()}, \
        with count = {len(train_df[col].unique())}")

INFO:root:col category has unique values : '['EstateCar' 'Limousine' 'SportsCar' 'Cabrio' 'OffRoad' 'SmallCar'
 'OtherCar' 'Van'],         with count = 8
INFO:root:col make_id has unique values : '[ 1900 25100],         with count = 2
INFO:root:col model_id has unique values : '[ 9.  8. 10. 23. 32. 11.  1. 12. 31. 15. 16.  3. 33. 28. 27.  4. 13. 29.
 19. 20. 30.  2.  5. 22. 21.  7. 14. 24.  6. 25. 34. 37. 39. 36. 17. 35.
 40. 26. 41. 38. 42. 18. nan],         with count = 43
INFO:root:col condition has unique values : '['USED' 'NEW'],         with count = 2

In [7]:
idx = np.isnan(train_df['first_registration'])
train_df.loc[idx,].head()

,category,make_id,model_id,price__consumer_gross_euro,mileage,first_registration,condition,modification_time,features_central_locking,features_full_service_history,features_hu_au_neu,features_nonsmoker_vehicle,features_adaptive_cruise_ctl,features_abs
50,EstateCar,1900,8.0,19999.000000,0.0,NaN,NEW,2009-10-05 13:58:47,True,False,False,False,False,True
53,SportsCar,1900,31.0,29290.750000,0.0,NaN,NEW,2009-10-05 13:58:37,True,False,False,False,False,True
114,Cabrio,1900,9.0,33888.820312,0.0,NaN,NEW,2009-10-28 13:15:57,True,False,False,False,False,True
115,Limousine,1900,11.0,55889.539062,0.0,NaN,NEW,2009-10-28 13:15:57,True,False,False,False,False,True
117,Limousine,1900,8.0,20448.960938,0.0,NaN,NEW,2009-10-28 13:15:58,True,False,False,False,False,True

In [8]:
# Data Understanding 
# what is modification time ?

## Data Preprocessing

In [9]:
# parse first registration yyyy-mm.0
# s = str(int(200602.0))
# datetime.strptime(s,'%Y%m')
def preprocess(train_df):
    train_df['first_registration_date'] = pd.to_datetime(train_df['first_registration'].\
                apply(lambda x: np.datetime64('NaT') if np.isnan(x) else datetime.strptime(str(int(x)),'%Y%m')))
    train_df['modification_time'] = pd.to_datetime(train_df['modification_time'])
    for col in train_df.columns:
        if train_df[col].dtype==bool:
            train_df[col] = train_df[col].astype(int)
    return train_df

In [10]:
train_df_pp = preprocess(train_df)
train_df_pp.head()

,category,make_id,model_id,price__consumer_gross_euro,mileage,first_registration,condition,modification_time,features_central_locking,features_full_service_history,features_hu_au_neu,features_nonsmoker_vehicle,features_adaptive_cruise_ctl,features_abs,first_registration_date
2,EstateCar,1900,9.0,16990.000000,94672.0,200602.0,USED,2011-04-06 00:39:09,1,0,0,0,0,1,2006-02-01
3,EstateCar,1900,9.0,9749.990234,176675.0,200606.0,USED,2011-04-06 00:38:39,1,1,0,0,0,1,2006-06-01
4,Limousine,1900,8.0,9960.299805,109230.0,200608.0,USED,2011-06-03 19:16:35,1,0,1,0,0,1,2006-08-01
5,Limousine,1900,8.0,21899.570312,22275.0,201002.0,USED,2011-06-03 19:16:40,1,0,1,0,0,1,2010-02-01
6,EstateCar,1900,9.0,7700.000000,244000.0,200408.0,USED,2011-06-03 19:22:40,1,1,0,0,0,1,2004-08-01

## Feature Generation

In [11]:
train_df_pp.dtypes

category                                 object
make_id                                   int64
model_id                                float64
price__consumer_gross_euro              float64
mileage                                 float64
first_registration                      float64
condition                                object
modification_time                datetime64[ns]
features_central_locking                  int64
features_full_service_history             int64
features_hu_au_neu                        int64
features_nonsmoker_vehicle                int64
features_adaptive_cruise_ctl              int64
features_abs                              int64
first_registration_date          datetime64[ns]
dtype: object

In [12]:
def to_datetime(date):
    """
    Converts a numpy datetime64 object to a python datetime object 
    Input:
      date - a np.datetime64 object
    Output:
      DATE - a python datetime object
    """
    timestamp = ((date - np.datetime64('1970-01-01T00:00:00'))
                 / np.timedelta64(1, 's'))
    return datetime.utcfromtimestamp(timestamp)

In [13]:
def gen_features(train_df):
    train_df['months_since_first_registration'] = train_df['first_registration_date']\
                    .apply(lambda x:np.NaN if pd.isna(x) else (datetime.today()-x).days/30)
    train_df['months_since_modification_time'] = train_df['modification_time']\
                    .apply(lambda x:np.NaN if pd.isna(x) else (datetime.today()-x).days/30)
    
    # delete unneeded cols
    
    train_df.drop(columns = ['first_registration','first_registration_date','modification_time'],inplace=True)
    categories_cols = ['category','make_id','model_id','condition']
    #enc = OneHotEncoder(categories=categories)
    train_df_dummy = pd.get_dummies(data=train_df,columns=categories_cols,prefix=categories_cols,drop_first=True)
    #train_df_dummy.drop(columns=categories,axis=1)
    return train_df_dummy

In [14]:
train_df_features = gen_features(train_df_pp)
train_df_features.head()

,price__consumer_gross_euro,mileage,features_central_locking,features_full_service_history,features_hu_au_neu,features_nonsmoker_vehicle,features_adaptive_cruise_ctl,features_abs,months_since_first_registration,months_since_modification_time,...,model_id_34.0,model_id_35.0,model_id_36.0,model_id_37.0,model_id_38.0,model_id_39.0,model_id_40.0,model_id_41.0,model_id_42.0,condition_USED
2,16990.000000,94672.0,1,0,0,0,0,1,169.833333,106.833333,...,0,0,0,0,0,0,0,0,0,1
3,9749.990234,176675.0,1,1,0,0,0,1,165.833333,106.833333,...,0,0,0,0,0,0,0,0,0,1
4,9960.299805,109230.0,1,0,1,0,0,1,163.800000,104.866667,...,0,0,0,0,0,0,0,0,0,1
5,21899.570312,22275.0,1,0,1,0,0,1,121.133333,104.866667,...,0,0,0,0,0,0,0,0,0,1
6,7700.000000,244000.0,1,1,0,0,0,1,188.133333,104.866667,...,0,0,0,0,0,0,0,0,0,1

In [15]:
train_df_features.dtypes

price__consumer_gross_euro         float64
mileage                            float64
features_central_locking             int64
features_full_service_history        int64
features_hu_au_neu                   int64
features_nonsmoker_vehicle           int64
features_adaptive_cruise_ctl         int64
features_abs                         int64
months_since_first_registration    float64
months_since_modification_time     float64
category_EstateCar                   uint8
category_Limousine                   uint8
category_OffRoad                     uint8
category_OtherCar                    uint8
category_SmallCar                    uint8
category_SportsCar                   uint8
category_Van                         uint8
make_id_25100                        uint8
model_id_2.0                         uint8
model_id_3.0                         uint8
model_id_4.0                         uint8
model_id_5.0                         uint8
model_id_6.0                         uint8
model_id_7.0                         uint8
model_id_8.0                         uint8
model_id_9.0                         uint8
model_id_10.0                        uint8
model_id_11.0                        uint8
model_id_12.0                        uint8
model_id_13.0                        uint8
model_id_14.0                        uint8
model_id_15.0                        uint8
model_id_16.0                        uint8
model_id_17.0                        uint8
model_id_18.0                        uint8
model_id_19.0                        uint8
model_id_20.0                        uint8
model_id_21.0                        uint8
model_id_22.0                        uint8
model_id_23.0                        uint8
model_id_24.0                        uint8
model_id_25.0                        uint8
model_id_26.0                        uint8
model_id_27.0                        uint8
model_id_28.0                        uint8
model_id_29.0                        uint8
model_id_30.0                        uint8
model_id_31.0                        uint8
model_id_32.0                        uint8
model_id_33.0                        uint8
model_id_34.0                        uint8
model_id_35.0                        uint8
model_id_36.0                        uint8
model_id_37.0                        uint8
model_id_38.0                        uint8
model_id_39.0                        uint8
model_id_40.0                        uint8
model_id_41.0                        uint8
model_id_42.0                        uint8
condition_USED                       uint8
dtype: object

In [16]:
train_df_features.to_csv('train_matrix.csv',sep=',',index=False)

## Modeling
### To attempt:
1. NN
2. SVR
3. Boosting
4. Baseline , regression model

### Model (1) MLP:

In [17]:
train_df_features.head()

,price__consumer_gross_euro,mileage,features_central_locking,features_full_service_history,features_hu_au_neu,features_nonsmoker_vehicle,features_adaptive_cruise_ctl,features_abs,months_since_first_registration,months_since_modification_time,...,model_id_34.0,model_id_35.0,model_id_36.0,model_id_37.0,model_id_38.0,model_id_39.0,model_id_40.0,model_id_41.0,model_id_42.0,condition_USED
2,16990.000000,94672.0,1,0,0,0,0,1,169.833333,106.833333,...,0,0,0,0,0,0,0,0,0,1
3,9749.990234,176675.0,1,1,0,0,0,1,165.833333,106.833333,...,0,0,0,0,0,0,0,0,0,1
4,9960.299805,109230.0,1,0,1,0,0,1,163.800000,104.866667,...,0,0,0,0,0,0,0,0,0,1
5,21899.570312,22275.0,1,0,1,0,0,1,121.133333,104.866667,...,0,0,0,0,0,0,0,0,0,1
6,7700.000000,244000.0,1,1,0,0,0,1,188.133333,104.866667,...,0,0,0,0,0,0,0,0,0,1

### Features, Scaling / Normalizing
https://towardsdatascience.com/scale-standardize-or-normalize-with-scikit-learn-6ccc7d176a02

In [18]:
def scale_normalize_features(train_df):    
    # TODO experiment other scalars based on better EDA for cols distributions
    features_to_scale = ['mileage','months_since_first_registration','months_since_modification_time']
    scaler = MinMaxScaler().fit(train_df[features_to_scale])
    mtx_scaled_features = pd.DataFrame(data=scaler.transform(train_df[features_to_scale])\
                                       ,columns=[f +'_scaled' for f in features_to_scale])
    train_df_dropped = train_df.drop(columns = features_to_scale)
    train_df_scaled = pd.concat([train_df_dropped,mtx_scaled_features],axis=1)
    return train_df_scaled

In [19]:
train_df_features_scaled = scale_normalize_features(train_df_features)
train_df_features_scaled.head()

,price__consumer_gross_euro,features_central_locking,features_full_service_history,features_hu_au_neu,features_nonsmoker_vehicle,features_adaptive_cruise_ctl,features_abs,category_EstateCar,category_Limousine,category_OffRoad,...,model_id_37.0,model_id_38.0,model_id_39.0,model_id_40.0,model_id_41.0,model_id_42.0,condition_USED,mileage_scaled,months_since_first_registration_scaled,months_since_modification_time_scaled
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.039121,0.149023,0.704698
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.073006,0.143478,0.704698
2,16990.000000,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.045136,0.140659,0.674239
3,9749.990234,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.009205,0.081512,0.674239
4,9960.299805,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.100826,0.174391,0.674239

In [20]:
#https://scikit-learn.org/stable/auto_examples/plot_partial_dependence_visualization_api.html#sphx-glr-auto-examples-plot-partial-dependence-visualization-api-py

In [21]:
y_colname = 'price__consumer_gross_euro'
y = train_df_features_scaled[y_colname]
X = train_df_features_scaled.drop(columns=y_colname)
X.columns

Index(['features_central_locking', 'features_full_service_history',
       'features_hu_au_neu', 'features_nonsmoker_vehicle',
       'features_adaptive_cruise_ctl', 'features_abs', 'category_EstateCar',
       'category_Limousine', 'category_OffRoad', 'category_OtherCar',
       'category_SmallCar', 'category_SportsCar', 'category_Van',
       'make_id_25100', 'model_id_2.0', 'model_id_3.0', 'model_id_4.0',
       'model_id_5.0', 'model_id_6.0', 'model_id_7.0', 'model_id_8.0',
       'model_id_9.0', 'model_id_10.0', 'model_id_11.0', 'model_id_12.0',
       'model_id_13.0', 'model_id_14.0', 'model_id_15.0', 'model_id_16.0',
       'model_id_17.0', 'model_id_18.0', 'model_id_19.0', 'model_id_20.0',
       'model_id_21.0', 'model_id_22.0', 'model_id_23.0', 'model_id_24.0',
       'model_id_25.0', 'model_id_26.0', 'model_id_27.0', 'model_id_28.0',
       'model_id_29.0', 'model_id_30.0', 'model_id_31.0', 'model_id_32.0',
       'model_id_33.0', 'model_id_34.0', 'model_id_35.0', 'model_id_36.0',
       'model_id_37.0', 'model_id_38.0', 'model_id_39.0', 'model_id_40.0',
       'model_id_41.0', 'model_id_42.0', 'condition_USED', 'mileage_scaled',
       'months_since_first_registration_scaled',
       'months_since_modification_time_scaled'],
      dtype='object')

In [22]:
X.shape

(17423, 59)

In [23]:
y.shape

(17423,)

In [24]:
# Drop any row having NA, think of better imputing approach
x_na_idx = X.isnull().any(1)
X_non_na = X.loc[~x_na_idx,]
y_non_na = y.loc[~x_na_idx,]

In [25]:
mlp = MLPRegressor(hidden_layer_sizes=(1000),tol=1e-2, max_iter=10000, random_state=0,verbose=True\
                   ,learning_rate_init=5,learning_rate='adaptive')
mlp_fit = mlp.fit(X_non_na,y_non_na)
mlp_fit

Iteration 1, loss = 489540252.55816853
Iteration 2, loss = 437197451.85388541
Iteration 3, loss = 433243625.13811183
Iteration 4, loss = 429259633.66251320
Iteration 5, loss = 425284263.02567321
Iteration 6, loss = 421324307.24648905
Iteration 7, loss = 417370313.16285264
Iteration 8, loss = 413473167.14989877
Iteration 9, loss = 409629266.83263999
Iteration 10, loss = 405850884.77855861
Iteration 11, loss = 402130018.42512560
Iteration 12, loss = 398466633.81605560
Iteration 13, loss = 394820922.71113843
Iteration 14, loss = 391204996.11520010
Iteration 15, loss = 387656029.54353064
Iteration 16, loss = 384168011.73014790
Iteration 17, loss = 380694612.40366364
Iteration 18, loss = 377289018.15077025
Iteration 19, loss = 373928187.65195805
Iteration 20, loss = 370612369.56433785
Iteration 21, loss = 367326440.02411580
Iteration 22, loss = 364055490.66142732
Iteration 23, loss = 360862482.19380999
Iteration 24, loss = 357670655.22201365
Iteration 25, loss = 354547897.03394234
Iteration 26, loss = 351461555.36052638
Iteration 27, loss = 348400030.95130730
Iteration 28, loss = 345415710.60713464
Iteration 29, loss = 342452107.85023934
Iteration 30, loss = 339542232.11484474
Iteration 31, loss = 336677437.96982855
Iteration 32, loss = 333780863.72709572
Iteration 33, loss = 330923826.02927709
Iteration 34, loss = 328186740.03568083
Iteration 35, loss = 325482450.93036610
Iteration 36, loss = 322786593.53383040
Iteration 37, loss = 320128198.69933426
Iteration 38, loss = 317506129.00648046
Iteration 39, loss = 314882076.27164960
Iteration 40, loss = 312336136.52578747
Iteration 41, loss = 309804287.00455010
Iteration 42, loss = 307365555.15487969
Iteration 43, loss = 304926828.60341769
Iteration 44, loss = 302537239.74260461
Iteration 45, loss = 300176183.83833599
Iteration 46, loss = 297846040.95784628
Iteration 47, loss = 295540821.81750482
Iteration 48, loss = 293273417.18593740
Iteration 49, loss = 291029906.01833326
Iteration 50, loss = 288847991.82321572
Iteration 51, loss = 286688960.18429464
Iteration 52, loss = 284576330.88111305
Iteration 53, loss = 282479391.98826045
Iteration 54, loss = 280418593.02138597
Iteration 55, loss = 278368497.98273337
Iteration 56, loss = 276359952.97979337
Iteration 57, loss = 274364545.39002860
Iteration 58, loss = 272412430.59324229
Iteration 59, loss = 270498629.33950335
Iteration 60, loss = 268636831.09347117
Iteration 61, loss = 266795986.99061269
Iteration 62, loss = 264977727.13808870
Iteration 63, loss = 263187748.98585537
Iteration 64, loss = 261406820.26291353
Iteration 65, loss = 259653588.90737787
Iteration 66, loss = 257938698.92307019
Iteration 67, loss = 256261326.93314204
Iteration 68, loss = 254610815.41713449
Iteration 69, loss = 253004145.13215455
Iteration 70, loss = 251412109.74092513
Iteration 71, loss = 249846701.86250719
Iteration 72, loss = 248329908.03230056
Iteration 73, loss = 246819147.81912142
Iteration 74, loss = 245354262.59351861
Iteration 75, loss = 243856985.47666085
Iteration 76, loss = 242436626.29845503
Iteration 77, loss = 241033422.43779776
Iteration 78, loss = 239663432.96821156
Iteration 79, loss = 238295355.47976831
Iteration 80, loss = 236968895.33098775
Iteration 81, loss = 235679849.53033814
Iteration 82, loss = 234392662.49168974
Iteration 83, loss = 233126680.29695705
Iteration 84, loss = 231885099.68097526
Iteration 85, loss = 230681325.46367869
Iteration 86, loss = 229513604.30661741
Iteration 87, loss = 228361490.76561481
Iteration 88, loss = 227189297.11670700
Iteration 89, loss = 226068972.55766520
Iteration 90, loss = 224960576.45383996
Iteration 91, loss = 223885868.92432570
Iteration 92, loss = 222861009.80311745
Iteration 93, loss = 221833823.74623787
Iteration 94, loss = 220830982.93743110
Iteration 95, loss = 219836057.50908396
Iteration 96, loss = 218870336.97623968
Iteration 97, loss = 217930931.02746078
Iteration 98, loss = 217029337.26917249
Iteration 99, loss = 216164440.39542267
Iteration 100, loss = 215315294.73706189
Iteration 101, loss = 214489499.62485480
Iteration 102, loss = 213665980.65902960
Iteration 103, loss = 212846790.42335090
Iteration 104, loss = 212049681.47538263
Iteration 105, loss = 211278464.10387471
Iteration 106, loss = 210546283.42805353
Iteration 107, loss = 209830062.76483226
Iteration 108, loss = 209122443.77930471
Iteration 109, loss = 208442016.76910564
Iteration 110, loss = 207784708.10284901
Iteration 111, loss = 207110011.51786277
Iteration 112, loss = 206475266.67495733
Iteration 113, loss = 205850057.86890686
Iteration 114, loss = 205258128.44920006
Iteration 115, loss = 204690983.22952831
Iteration 116, loss = 204121485.70088488
Iteration 117, loss = 203572712.45914835
Iteration 118, loss = 203051291.85488239
Iteration 119, loss = 202541496.88913676
Iteration 120, loss = 202042989.01415008
Iteration 121, loss = 201555339.53503799
Iteration 122, loss = 201087617.34811559
Iteration 123, loss = 200624668.54205304
Iteration 124, loss = 200192951.74424142
Iteration 125, loss = 199782223.80587241
Iteration 126, loss = 199386018.22386158
Iteration 127, loss = 198959583.54019088
Iteration 128, loss = 198565273.95217735
Iteration 129, loss = 198210722.19281733
Iteration 130, loss = 197839103.78879708
Iteration 131, loss = 197475732.90648323
Iteration 132, loss = 197125468.81002897
Iteration 133, loss = 196809853.68135303
Iteration 134, loss = 196503780.58230296
Iteration 135, loss = 196182503.55949223
Iteration 136, loss = 195890003.89780885
Iteration 137, loss = 195616300.10739657
Iteration 138, loss = 195350951.98496106
Iteration 139, loss = 195082909.73210809
Iteration 140, loss = 194841832.36871096
Iteration 141, loss = 194609192.41438100
Iteration 142, loss = 194396021.40293670
Iteration 143, loss = 194195793.36788115
Iteration 144, loss = 169528494.91191250
Iteration 145, loss = 150875622.20492116
Iteration 146, loss = 145982985.02718356
Iteration 147, loss = 141235440.73872063
Iteration 148, loss = 137920343.45986688
Iteration 149, loss = 137829932.24903280
Iteration 150, loss = 137022249.78395277
Iteration 151, loss = 135844087.89941061
Iteration 152, loss = 135940852.97797012
Iteration 153, loss = 134972261.58968866
Iteration 154, loss = 135099980.27857634
Iteration 155, loss = 135768502.87155059
Iteration 156, loss = 135248820.99661940
Iteration 157, loss = 134085309.40500371
Iteration 158, loss = 133594595.89855917
Iteration 159, loss = 133899036.64387262
Iteration 160, loss = 137783288.22650155
Iteration 161, loss = 134455315.18344760
Iteration 162, loss = 134034188.76568878
Iteration 163, loss = 135183439.34536460
Iteration 164, loss = 133487620.16969255
Iteration 165, loss = 132596257.60135144
Iteration 166, loss = 132622117.88071389
Iteration 167, loss = 132430896.09924170
Iteration 168, loss = 132100155.02056421
Iteration 169, loss = 131841741.99086434
Iteration 170, loss = 153141772.19728985
Iteration 171, loss = 134197385.80495913
Iteration 172, loss = 132056965.88427593
Iteration 173, loss = 132017385.64403674
Iteration 174, loss = 131735215.45703728
Iteration 175, loss = 131481457.00638112
Iteration 176, loss = 131411855.65600753
Iteration 177, loss = 131544230.24088374
Iteration 178, loss = 131603114.18739302
Iteration 179, loss = 132154589.62691869
Iteration 180, loss = 132668767.37442759
Iteration 181, loss = 131626015.34555233
Iteration 182, loss = 130772543.94379523
Iteration 183, loss = 131508089.01878816
Iteration 184, loss = 131044395.72600839
Iteration 185, loss = 130844130.82151553
Iteration 186, loss = 131217286.01886675
Iteration 187, loss = 130915422.01256828
Iteration 188, loss = 132110874.84595902
Iteration 189, loss = 131247477.99786137
Iteration 190, loss = 131893356.17909177
Iteration 191, loss = 130844743.91238578
Iteration 192, loss = 130605242.23545213
Iteration 193, loss = 134744466.58673710
Iteration 194, loss = 132039998.52378497
Iteration 195, loss = 130583508.53564879
Iteration 196, loss = 130631084.73042232
Iteration 197, loss = 130770030.05960643
Iteration 198, loss = 131137090.42687485
Iteration 199, loss = 133025929.87860082
Iteration 200, loss = 130775672.49187149
Iteration 201, loss = 130241609.96085115
Iteration 202, loss = 130816284.74793649
Iteration 203, loss = 130512390.27414230

Iteration 204, loss = 130163092.55206101
Iteration 205, loss = 130435597.04944666
Iteration 206, loss = 131404848.41833431
Iteration 207, loss = 130525377.11044137
Iteration 208, loss = 130689844.62460251
Iteration 209, loss = 130519681.22303653
Iteration 210, loss = 130285659.19540399
Iteration 211, loss = 129847747.46653594
Iteration 212, loss = 131656388.34574702
Iteration 213, loss = 130068722.31860529
Iteration 214, loss = 130944723.65651901
Iteration 215, loss = 130587963.46882194
Iteration 216, loss = 130249124.43695363
Iteration 217, loss = 130990849.79206768
Iteration 218, loss = 130140384.50224751
Iteration 219, loss = 130453433.14719935
Iteration 220, loss = 129793098.55245546
Iteration 221, loss = 136553140.92770353
Iteration 222, loss = 130313687.15790963
Iteration 223, loss = 130171198.61153808
Iteration 224, loss = 129905829.47050533
Iteration 225, loss = 130350550.85328659
Iteration 226, loss = 129816508.39065571
Iteration 227, loss = 130922915.54344873
Iteration 228, loss = 129446016.92009294
Iteration 229, loss = 129948059.88370587
Iteration 230, loss = 130902859.47331314
Iteration 231, loss = 130115854.86140639
Iteration 232, loss = 129783639.73833330
Iteration 233, loss = 129958354.01583742
Iteration 234, loss = 130927030.53093505
Iteration 235, loss = 130000514.35383989
Iteration 236, loss = 130488262.66410077
Iteration 237, loss = 129594769.86461037
Iteration 238, loss = 129995167.36770582
Iteration 239, loss = 130100089.03897166
Training loss did not improve more than tol=0.010000 for 10 consecutive epochs. Stopping.

MLPRegressor(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
             beta_2=0.999, early_stopping=False, epsilon=1e-08,
             hidden_layer_sizes=1000, learning_rate='adaptive',
             learning_rate_init=5, max_fun=15000, max_iter=10000, momentum=0.9,
             n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
             random_state=0, shuffle=True, solver='adam', tol=0.01,
             validation_fraction=0.1, verbose=True, warm_start=False)

### Results Log
MLPRegressor(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
             beta_2=0.999, early_stopping=False, epsilon=1e-08,
             hidden_layer_sizes=100, learning_rate='adaptive',
             learning_rate_init=1, max_fun=15000, max_iter=10000, momentum=0.9,
             n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
             random_state=0, shuffle=True, solver='adam', tol=0.01,
             validation_fraction=0.1, verbose=True, warm_start=False) 
             
             
 Iteration 158, loss = 84140825.32805520

""""""""""

Iteration 167, loss = 69278334.91476229


Training loss did not improve more than tol=0.010000 for 10 consecutive epochs. Stopping.
MLPRegressor(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
             beta_2=0.999, early_stopping=False, epsilon=1e-08,
             hidden_layer_sizes=500, learning_rate='adaptive',
             learning_rate_init=1, max_fun=15000, max_iter=10000, momentum=0.9,
             n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
             random_state=0, shuffle=True, solver='adam', tol=0.01,
             validation_fraction=0.1, verbose=True, warm_start=False)

"""""""""""""""""""""2

In [26]:
# use gridcvsearch

In [36]:
param_grid = {'activation':['logistic','tanh', 'relu'],\
             'hidden_layer_sizes':[(200,200,200)],\
             'learning_rate_init':[1,10],\
             'tol' : [0.001],\
             'alpha':list(10.0 ** -np.arange(1, 2))}

mlp = MLPRegressor()
grid_search_cv_fit = GridSearchCV(estimator=mlp,param_grid=param_grid,verbose=True\
                                  ,scoring='neg_root_mean_squared_error'\
                                  ,n_jobs=4)\
                .fit(X_non_na,y_non_na)

Fitting 5 folds for each of 6 candidates, totalling 30 fits

[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  30 out of  30 | elapsed:  1.8min finished

In [37]:
grid_search_cv_fit.best_estimator_

MLPRegressor(activation='relu', alpha=0.1, batch_size='auto', beta_1=0.9,
             beta_2=0.999, early_stopping=False, epsilon=1e-08,
             hidden_layer_sizes=(200, 200, 200), learning_rate='constant',
             learning_rate_init=1, max_fun=15000, max_iter=200, momentum=0.9,
             n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
             random_state=None, shuffle=True, solver='adam', tol=0.001,
             validation_fraction=0.1, verbose=False, warm_start=False)

In [39]:
nrmse = grid_search_cv_fit.best_score_

In [41]:
-nrmse/(max(y_non_na)-min(y_non_na))

0.06101495519046771

## Grid CV results summary

[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.

[Parallel(n_jobs=4)]: Done  40 out of  40 | elapsed:  3.1min finished

In [30]:
# cross validation
# over under estimating prices
# https://scikit-learn.org/stable/modules/neural_networks_supervised.html#tips-on-practical-use
# https://machinelearningmastery.com/how-to-configure-the-number-of-layers-and-nodes-in-a-neural-network/
#https://scikit-learn.org/stable/modules/model_evaluation.html#scoring-parameter

In [ ]:
# report r2 and nrmse , mat5omsh :D